.container {
	display: flex;
	background: grey;
	margin-top: 5%;
}

a {
	display: inline;
	text-decoration: none;
}

a:hover {
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px black;
}

#link1 a:hover {
	transform: rotate(360deg);
	transition-timing-function: cubic-bezier(1.0, 0.8, 0.6, 0.2)
}

#link2 a:hover {
	font-size: 30pt;
}

#link3 a:hover {
	font-family: monospace;
}

#link4 {
	
}

#link5 {
	
}

#link6 {
	
}