.container {
	display: flex;
	flex-direction: column;
}

.row {
	list-style: none;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	line-height: 0;
	margin: 0;
}

.row li {
	flex: 1;
	padding: 10px;
	border-bottom: 1px solid black;
	font-size: 0.8em
}

